body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.announce-section {
  margin: 10px 40px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.band {
  width: 100%;
  height: 10px;
  background-color: #274c77;
  margin-bottom: 20px;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  color: #274c77;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  color: #6096ba;
  margin: 20px 0 20px 0;
}

h3 {
  font-size: 1.2rem;
  color: #274c77;
  margin: 10px;
}

p {
  font-size: 1rem;
  color: #333;
  margin: 0;
  padding: 10px;
}

.website-creation-image {
  margin-top: 30px;
  width: 40vw;
  margin: 30px 0;
}
