body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: auto;
  padding: 0;
  background-color: #e7ecef;
  overflow-x: hidden;
}

.header-content {
  background-color: #274c77;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-main {
  display: flex;
  flex-direction: row;
}

.header-main {
  display: flex;
  flex-direction: row;
}

.metal-background {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  position: relative;
}

.intro-text {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px;
  width: 600px;
}

.contact-button {
  background: linear-gradient(to left top, #274c77, #6096ba);
  color: #ffffff;
  border: none;
  margin-top: 10px;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.work-card {
  background: #fff;
  border: 1px solid #8b8c89;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  transition: transform 0.3s ease;
  align-items: center;
  width: 250px;
  height: 380px;
}

.footer-content {
  background-color: #274c77;
  color: white;
  padding: 10px;
}

.footer-mentions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin: 0 20px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.social-media-icon {
  width: 20px;
  height: 20px;
}

.footer-quote {
  font-style: italic;
  text-align: center;
  font-size: 10px;
  padding: 0 10px 10px 10px;
}
